# Ignore Logging files
*.log

# Google credentials
creds.json

# Environment Vars
.env

# Ignore Python VENV
bot-env/

# Ignore Python Caches
__pycache__/

# Ignore Temporary Data
tmp/

# Ignore Alembic 
alembic/
alembic.ini